.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #67b35c;
  padding: 20px 40px;
  .social-wrapper {
    display: flex;
  }
  .icon-wrapper {
    padding: 0 10px;
    .icon {
      object-fit: contain;
      color: black;
    }
  }
}
.copyright {
  background-color: #569e4b;
  padding: 10px 0px;
  p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
  }
}
