.item-post {
  margin-top: 20px;

  .link {
    margin: auto;
    color: black;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 30px;
  }

  .button-action {
    width: 200px;
    margin-left: auto;
    margin-right: 0px;
  }
}
